

.right-side{
    width:480px !important;
    height: 395px !important;
   
  
  
}

.over-title{
   
    padding: 0px 8px;
    box-sizing: border-box;
    
}

.over-log-in{
    width: 430px;
    height:48px;
    padding:12px;
    box-sizing: border-box;
    text-align: left;
    line-height: 24px;
    transition: 300ms;
  
   
   
}

.over-log-in>svg{
    margin-right: 4px;
}
.over-log-in:nth-of-type(1){
    text-align: center;
    margin-bottom: 8px;

}

.over-log-in:hover{
    background-color: var(--bg-1);
}
.over-log-in:nth-of-type(1){
    background-color: rgb(33, 33, 246) !important;
}

.a-bar{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    line-height: 35px;
    color: white;
}

.cov-head{
    width:474px !important;

    
}

.a-down{
    width: 440px !important;
    height: 48px;
    padding: 12px;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    font-family: noto;
    font-weight: 400;
    text-decoration: none;
    color: white;
    transition: 300ms;
   
    
}
.a-down:hover,.green-li:hover{
    background-color: var(--bg-1);
}
.drop-small-under{
    width: 440px !important;
    background-color:var(--bg-1) !important;
    
}

.a-down-inside{
    width: 440px !important;
    height: 72px !important;
    padding: 12px;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    font-family: noto;
    font-weight: 400;
    text-decoration: none;
    color: white;
   
 
}
.a-down-inside>svg{
    margin-right: 4px;
    
}
.a-down-inside>p{
    width: 45%;
    font-size: 12px;
    font-family: noto;
    font-weight: 400;
    text-align: right;
    margin-top: -6px;
    
}

.green-li{
    width: 440px !important;
    height: 48px;
    padding: 12px;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    font-family: noto;
    font-weight: 400;
    text-decoration: none;
    color: rgb(8, 236, 8);
}