.adventure-2{
    height: 570px;
    background-image: url(../../images/adventure/1.avif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 40px;
    box-sizing: border-box;
  }
.h2-adventure-small{
    font-size:30px;
    font-family: object;
    font-weight: 500;
    color: white;
    line-height:47px;
    text-align: center;

}

.h3-adventure-small{
    font-size:14px;
    font-family: object;
    font-weight: 400;
    line-height:47px;
}

.anchor-small{
    display: flex;
    justify-content:center;
    align-items: center;
    column-gap: 12px;
   width: 95%;
}